<div class="container-fluid h-100"
  style="background-image:url(/images/login-background.jpg);background-repeat:no-repeat;background-size:cover;">
  <div class="pt-4 row">
    <div class="col-6 text-center px-5 pt-5 text-secondary-bs">
      <h3>A BETTER WAY TO SHARE YOUR FAVORITE BOOKS & FIND NEW FAVORITES</h3>
    </div>
    <div class="col-5 p-3 border rounded border-dark bg-light-bs">
      <div class="pb-3">
        <div>New to BookSwap? <a class="link-bs-bold" href="/register">Register Now</a></div>
        <div>Forgot Password? <a class="link-bs-bold" href="/ForgotPassword">Click here</a></div>
      </div>

      <form action="/login" method="POST">
        <div class="form-group">
          <label>Email address</label>
          <input type="email" class="form-control" name="email" value="{{email}}" required>
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" name="password" value="{{password}}" required>
        </div>
        <input type="submit" class="btn btn-primary-bs" value="Submit" />
      </form>
    </div>
  </div>
</div>