<div class="container-fluid h-100 d-flex justify-content-center"
  style="background-image:url(/images/forgot-password-background.jpg);background-repeat:no-repeat;background-size:cover;">
  <div class="col-xl-6 col-lg-8 col-md-10 col-sm-12 col-12 pt-4">
    <div class="mt-4 border rounded p-3 bg-light-bs">
          <h3 class="pb-3 header-text">{{title}}</h3>
    <form action="/resetpassword" method="POST">
      <div class="form-group">
        <label>Current Password</label>
        <input type="password" class="form-control" name="password" value="{{password}}" placeholder="Password"
          required>
      </div>
      <div class="form-group">
        <label>New Password</label>
        <input type="password" class="form-control" name="newPassword" value="{{newPassword}}"
          placeholder="New Password" required>
      </div>
      <div class="form-group">
        <label>Confirm New Password</label>
        <input type="password" class="form-control" name="confirmPassword" value="{{confirmPassword}}"
          placeholder="Confirm New Password" required>
      </div>
      <input type="submit" class="btn btn-primary-bs" value="Submit" />
    </form>
    </div>
  </div>
</div>