<form action="/resetpassword" method="POST">
  <div class="form-group">
    <label>Current Password</label>
    <input type="password" class="form-control" name="password" value="{{password}}" placeholder="Password" required>
  </div>
  <div class="form-group">
    <label>New Password</label>
    <input type="password" class="form-control" name="newPassword" value="{{newPassword}}" placeholder="New Password"
      required>
  </div>
  <div class="form-group">
    <label>Confirm New Password</label>
    <input type="password" class="form-control" name="confirmPassword" value="{{confirmPassword}}"
      placeholder="Confirm New Password" required>
  </div>
  <input type="submit" class="btn btn-primary" value="Submit" />
</form>