<div class="container-fluid h-100 d-flex justify-content-left"
    style="background-image:url(/images/book-stack.jpg);background-repeat:no-repeat;background-size:cover;">
    <div class="col-xl-6 col-lg-8 col-md-10 col-sm-12 col-12">
        <div class="mt-4 border rounded p-3 bg-light-bs">
            <h3 class="pb-3 header-text">{{title}}</h3>
            <div id="question1">
                <div class="text-primary-bs-bold">How do I earn points?</div>
                <div>
                    <ul>
                        <li>Post a book: +1 point</li>
                        <li>Book is shipping & received by buyer:
                            <ul>
                                <li>Same country +2 points</li>
                                <li>Out of country +4 points</li>
                            </ul>
                        </li>
                        <li>Book is shipped & NOT received by buyer:
                            <ul>
                                <li>Same country +1 point</li>
                                <li>Out of country +2 points</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="question2">
                <div class="text-primary-bs-bold">How do I spend points?</div>
                <div>
                    <ul>
                        <li>Book is purchased & received on time and in agreed condition:
                            <ul>
                                <li>Same country -2 points</li>
                                <li>Out of country -4 points</li>
                            </ul>
                        </li>
                        <li>Book is lost in shipping: 0 points</li>
                        <li>Book is received in worse condition than expected AND shipping took longer than 10 days: 0
                            points</li>
                        <li>Book is received in worse condition than expected OR shipping took longer than 10 days:
                            <ul>
                                <li>Same country -1 point</li>
                                <li>Out of country -2 points</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="question3" class="pb-3">
                <div class="text-primary-bs-bold">What if a book I purchased is lost in the mail?</div>
                <div>You must mark the book as not received on the My Swaps page and allow the seller time to review the
                    shipper.
                    If the book is lost, the seller will confirm this and there will be no cost to you.
                </div>
            </div>
            <div id="question4" class="pb-3">
                <div class="text-primary-bs-bold">What if a book I sent is lost in the mail?</div>
                <div>You must mark the book as lost on the My Swaps page to notify the buyer.
                    There will be no cost to them and you will receive half of your original point value.
                    If you have more than 3 books in one year marked as 'lost', BookSwap may disable your account.
                </div>
            </div>
            <div id="question5" class="pb-3">
                <div class="text-primary-bs-bold">What if a book I purchased arrived late or is in worse condition than I expected?</div>
                <div>Upon marking the book as received you will be prompted to complete a survey.
                    You must indicate these things on the survey and points will be adjusted according to the the rules listed above.
                </div>
            </div>
        </div>
    </div>
</div>