<h1>
    Points FAQ
</h1>

<h2>
    You earn points when you...
</h2>
<br>
<p>
    <ul>
        <li>You earn 1 points when we post a book.</li>
        <li>Respond to a request and send your book to them. </li>
        <li>2 points are earned if sent to your current country.</li>
        <li>4 points are earned if sent to another country.</li>        
    </ul>
</p>
<h2>
    You use up points when you...
</h2>
<br>
<p>
    <ul>
        <li>Receive a book you have requested. </li>
        <li>2 points are lost if sent from your current country.</li>
        <li>4 points are lost if sent from another country.</li>        
    </ul>
</p>
//if it is lost then no cost to requestor but seller reduce point gain in half. 
//did you receive it in the ten days if no then seller gets half points. then requestor loses nothing 
//did you receive it in the condition the seller listed gets half points. requestor loses nothing.
//when you get survey results
//if both condition are false then seller gets no points. requestor loses nothing.