<h1>
    Points FAQ
</h1>

<h2>
    You earn points when you...
</h2>
<p>
    <ul>
        <li>You earn 1 point when you post a book.</li>
        <li>You earn points when you respond to a request and ship a book successfully.</li>
        <ul>
            <li>2 points are earned if sent to your current country.</li>
            <li>4 points are earned if sent to another country.</li>  
        </ul>     
    </ul>
</p>
<h2>
    You use up points when you...
</h2>
<p>
    <ul>
        <li>Receive a book you have requested. </li>
        <ul>
            <li>2 points are lost if sent from your current country.</li>
            <li>4 points are lost if sent from another country.</li> 
        </ul>
               
    </ul>
</p>
<h3>
    What if a book I requested is lost in the mail?
</h3>
<p>
    There is no cost to you and the seller gains half of the possible points.
</p>
<h3>
    What if the book arrived late?
</h3>
<p>
    If you received it after 10 days then the book cost you nothing and the seller gains half the possible points.
</p>
<h3>
    What if the book wasn't in the condition I expected it in?
</h3>
<p>
    The book cost you nothing and the seller gains half the possible points.
</p>

<h3>
    Disclaimer: If the book arrives after 10 days and isn't in the expected condition...
</h3>
<p>
    The book costs the requestor nothing and the seller does not gain any points.
</p>