<!--This is still a little ugly but I will work on it some more later need to make it response-->
<div class="container">
  <div class="row">
    <div class="col-sm">
      <h1>Points FAQ</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <h2>You earn...</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <ul>
        <li>1 point when you post a book.</li>
        
    </div>
    <div class="col-sm">
        <ul>
            <li>2 or 4 points when you respond to a request and ship a book successfully.</li>
            <ul>
                <li>2 points are earned if sent to your current country.</li>
                <li>4 points are earned if sent to another country.</li>  
            </ul>     
        </ul>
    </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <h2>You spend...</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <ul>
                <li>2 points when you receive a book you have requested from your current country.</li>
                 
            </ul>
        </div>
        <div class="col-sm">
            <ul>
                <li>4 points when you receive a book you have requested from your current country.</li>
                   
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <h3>What if a book I requested is lost in the mail?</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <p>There is no cost to you and the seller gains half of the possible points.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm">
            <h3>What if the book arrived late?</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <p>If you received it after 10 days then the book cost you nothing and the seller gains half the possible points.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <h3>What if the book wasn't in the condition I expected it in?</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <p>The book cost you nothing and the seller gains half the possible points.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <h3>Disclaimer: If the book arrives after 10 days and isn't in the expected condition...</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <p>The book costs the requestor nothing and the seller does not gain any points.</p>
        </d