<div class="pb-3 mx-auto" style="width: 600px">
    <div class="text-center" >
        <h1>{{ title }}</h1>
        <h6>Manage your account settings and get information on how to use Book Swap</h3><br>
   </div>


    <h3>Account Settings</h3>

    <a href="/updateaccount">
        <div class="card">
            <div class="card-body">
                Update Account Information
            </div>
        </div>
    </a>
    <a href="/resetpassword">
        <div class="card">
            <div class="card-body">
                Reset Password
            </div>
        </div>
    </a><br>

    <h3>Information</h3>

    <a href="/gettingstarted">
        <div class="card">
            <div class="card-body">
                Getting Started With BookSwap
            </div>
        </div>
    </a>
    <a href="/faq">
        <div class="card">
            <div class="card-body">
                Frequently Asked Questions
            </div>
        </div>
    </a><br>

<a href="/logout" class="btn btn-secondary btn-sm active" role="button">Log out</a>

</div>
