.library-toggle{
    float:right;
    border: none;
    background: none;
}

.library-toggle:focus{
    outline: 0 !important;
}

.library-toggle:hover{
    color: lightskyblue;
}

.shelf{
    font-size: 25px;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 7px;
    padding: 5px 15px 5px;
}

.cards{
    border: none;
}

.delete-btn{
    position: absolute;
    top: 0%;
    right: 0%;
    padding: 0px 5px 3px;
    border: none;
    color: grey;
}

.delete-btn:hover{
    color: red;
    background: transparent;
}

.card-columns{
    display: inline-block;
}

@media (min-width: 576px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 3;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 4;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 5;
    }
}
